@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #F6FFF8;
    font-family: 'Open Sans', sans-serif;


}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

